{namespace dce=ArminVieweg\Dce\ViewHelpers}<?php
<f:for each="{dceArray}" as="dce">
<f:if condition="{dce.hidden} == 0">
	///////////////////////////////////////////////////// {f:if(condition:"{dce.uid}", then:"uid: {dce.uid}", else:"identifier: {dce.identifier}")} ///
	\TYPO3\CMS\Extbase\Utility\ExtensionUtility::configurePlugin(
	'ArminVieweg.dce',
	'{f:if(condition:"{dce.uid}", then:"dceuid{dce.uid}", else:"dce_{dce.identifier}")}',
	array(
	'Dce' => 'show',
	),
	array(
	<f:if condition="{dce.cache_dce}"><f:then></f:then>
		<f:else>'Dce' => 'show'</f:else></f:if>
	),
	\TYPO3\CMS\Extbase\Utility\ExtensionUtility::PLUGIN_TYPE_CONTENT_ELEMENT
	);

	\TYPO3\CMS\Core\Utility\ExtensionManagementUtility::addTypoScript('dce', 'setup', '
	# Hide lib.stdheader for DCE with uid {dce.uid}
	' . 'tt_content.dce_{f:if(condition:"{dce.uid}", then:"dceuid{dce.uid}", else:"dce_{dce.identifier}")}.10 >', 43);

	<f:if condition="{dce.hide_default_ce_wrap}">
		\TYPO3\CMS\Core\Utility\ExtensionManagementUtility::addTypoScript('dce', 'setup', '
		# Hide default wrapping for content elements for DCE with uid {dce.uid}
		' . 'tt_content.stdWrap.innerWrap.cObject.default.stdWrap.if.value := addToList(dce_{f:if(condition:"{dce.uid}", then:"dceuid{dce.uid}", else:"dce_{dce.identifier}")})', 43);
	</f:if>
</f:if>
</f:for>